.App {
  text-align: center;
}

body {
  background-color: #ffe14b;
}
.navbar {
  background-color: #000000;
}
.navtext {
  color: white;
}
.navtext:hover,
.navtext:active {
  background: white;
  color: black;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
